<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xtra Blog</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/templatemo-xtra-blog.css" rel="stylesheet">
    <!--

    TemplateMo 553 Xtra Blog

    https://templatemo.com/tm-553-xtra-blog

    -->
</head>
<body>
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <div class="tm-site-header">
                <img class="mb-3 mx-auto tm-site-logo" src="~/Images/logo blanco.png"></img>
                <h1 class="text-center">HOTEL RESORT LAS NUBES</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active">
                        <a href="~/Home/Index" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            HOME
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Nosotros/Index" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            NOSOTROS
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Catalogo/Index" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            CATALOGO
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Empleado/Login" class="tm-nav-link">
                            <i class="far fa-comments"></i>
                            LOGIN
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href=" https://www.facebook.com/resort.las.nubes " class="tm-social-link">
                    <img src="~/Images/Logo_de_Facebook.png" width="50"></img>
                </a>
                <a href="https://twitter.com/resortlasnubes" class="tm-social-link">
                    <img src="~/Images/Twitter-logo.png" width="50"></img>
                </a>
                <a href="https://www.instagram.com/resort_las_nubes/" class="tm-social-link">
                    <img src="~/Images/Instagram_logo.png" width="50"></img>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                !Ven a Disfrutar de Unas Vacaciones Inolvidables, Ya sea En Pareja, Familia, O Por Motivos de Trabajo, Ven Te Esperamos.¡
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                </div>
            </div>
            <div class="row tm-row tm-mb-45">
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title"></h2>
                        <p>
                            You can immediately download
                            from TemplateMo website for 100% free of charge. Etiam vehicula, tortor ac eleifend tincidunt, diam neque pellentesque ipsum,
                            a geugiat eros mauris eget lorem. Quisque in
                            bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue. Aliquam lorem mi, maximus at iaculis ut, viverra vel
                            mauris. Duis congue luctus metus, sodales tincidunt lectus fringilla ut. Nunc tempus at magna sed vestibulum.
                        </p>
                        <p>
                            Proin et arcu ligula. Praesent quis erat eu est solliditudin tristique ut in arcu. Donec bibendum ex id ligula semper dictum.
                            Proin malesuada luctus auctor. Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in
                            malesuada nulla magna ut enim. Morbi lacinia magna sed sapien auctor, vitae luctus nunc cursus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">Our Home</h2>
                        <p class="mb-0 tm-line-height-short">
                            !Nuestro Inicio Fue Para Solventar La Necesidad de Reservacion De Hoteles De La Forma Tradicional, Cabe Recalcar Que No Denigramos La Forma Tradicional, Solo Que Por Motivos De Tiempo,
                            Contratiempo, O Dificultades Que Se Presentan Dia a Dia, Por Esos Motivos Nace La Creacion De La Pagina Web HOTEL RESORT LAS NUBES.¡
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">Teamwork</h2>
                        <p class="mb-0 tm-line-height-short">
                            !Como Equipo Nostros Siempre Estuvimos Dispuestos A Cumplir o Satisfacer La Necesidad Del Cliente, Reaccionamos De La Mejor Manera Posible 
                            Ante Cualquier Problemas O Situacion En El Proceso de Creacion De Nuestro Sitio Web.¡
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">our core values</h2>
                        <p class="mb-0 tm-line-height-short">
                            !Nostros Creamos Este Sitio Para Ayudar A Los Usuarios, Nuestros Principios Fundamentales Para Brindar Los Mejor Precios, Oteles, Vistas Inolvidables, Podran Pasar los Mejores Momentos En Familia, Te Esperamos.¡
                        </p>
                    </div>
                </div>
            </div>
            <div class="row tm-row tm-mb-60">
                <div class="col-12">
                    <hr class="tm-hr-primary  tm-mb-55">
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="~/Images/Hector 1.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Hector Cardoza</h2>
                            <h3 class="tm-h3 mb-3">!DISEÑADOR¡</h3>
                            <p class="mb-0 tm-line-height-short">
                                Me Descrivo Como La Persona Que Ideo y Creo Los Diseños De Este Sitio Web, Para Tener Una Mejor Experiencia Posible Para Los Usuarios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="~/Images/adriana.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Adriana Alfaro</h2>
                            <h3 class="tm-h3 mb-3">!MANAGER AZURE DEVOPS¡</h3>
                            <p class="mb-0 tm-line-height-short">
                                Soy La Que Maneja Y Da Soporte En La Distribucion De La Plataforma, Y Tambien La Que Vela Por El Cumplimiento De Estas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="~/Images/rafael.jpg" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Rafael Videz</h2>
                            <h3 class="tm-h3 mb-3">!SUPERVISOR¡</h3>
                            <p class="mb-0 tm-line-height-short">
                                Yo Soy El Que Maneja Y Crea El Funcionamiento De Este Proyecto Junto A Mis Compañeros, Tambien Velo Que El Trabajo Que Se Entrega Sea Eficiente, Competente, y Que Cumpla Con Las Expectativas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>