<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xtra Blog</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/templatemo-xtra-blog.css" rel="stylesheet">
    <!--

    TemplateMo 553 Xtra Blog

    https://templatemo.com/tm-553-xtra-blog

    -->
</head>
<body>
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <div class="tm-site-header">
                <img class="mb-3 mx-auto tm-site-logo" src="~/Images/logo blanco.png"></img>
                <h1 class="text-center">HOTEL RESORT LAS NUBES</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active">
                        <a href="~/Home/Index" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            HOME
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Nosotros/Index" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            NOSOTROS
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Catalogo/Index" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            CATALOGO
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="~/Empleado/Login" class="tm-nav-link">
                            <i class="far fa-comments"></i>
                            LOGIN
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href=" https://www.facebook.com/resort.las.nubes " class="tm-social-link">
                    <img src="~/Images/Logo_de_Facebook.png" width="50"></img>
                </a>
                <a href="https://twitter.com/resortlasnubes" class="tm-social-link">
                    <img src="~/Images/Twitter-logo.png" width="50"></img>
                </a>
                <a href="https://www.instagram.com/resort_las_nubes/" class="tm-social-link">
                    <img src="~/Images/Instagram_logo.png" width="50"></img>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                !Ven a Disfrutar de Unas Vacaciones Inolvidables, Ya sea En Pareja, Familia, O Por Motivos de Trabajo, Ven Te Esperamos.¡
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="~/Images/Fondo 1.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Una Bella Vista¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        !Goza de Este Hermosa Vista Con Nuestros Precios Mas Bajos que Nunca, Reserva YA!!
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Descansa . Diviertete</span>
                        <span class="tm-color-primary">Marzo 12, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 Comentarios</span>
                        <span>Rafael Vides</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            <img src="~/Images/Fondo 2.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Unas Magnificas Vacaciones¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank"></a> !Aprecia una Vistas Increibles con Nuestras Super Promociones.¡
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Relajate, Disfruta</span>
                        <span class="tm-color-primary">Marzo 15, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>60 Comentarios</span>
                        <span>Byron Hernandez</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="~/Images/Fondo 3.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Regalate Unas Vacaciones Inolvidables¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        !Para Ti y Solo Para Ti, En Tu Mundo, Un Lugar Solo Para Ti.¡
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Desconectate, Encuentrate</span>
                        <span class="tm-color-primary">Marzo 18, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>50 Comentarios</span>
                        <span>Adriana Alfaro</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="~/Images/Fondo 4.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Para Ti y Tu Familia¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        !Aqui Hacemos Realidad Ese Sueño, Unas Vacaciones Con Tu Familia, Desconectrase del mundo, Lo Hacemos Realidad Por Ti.¡
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Diversion, Relajacion</span>
                        <span class="tm-color-primary">Marzo 22, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>45 Comentarios</span>
                        <span>Karla Cortez</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="~/Images/Fondo 6.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Una Luna De Miel Inolvidable¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        !Disfruta En Pareja, Momentos Especiales, o Ocaciones, Eventos, Lo Tenemos Para Ti.¡
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Sueña, Crea</span>
                        <span class="tm-color-primary">Marzo 26, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>84 Comentarios</span>
                        <span>Maura Aguirre</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="~/Catalogo/Index" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="~/Images/Fondo 7.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">!OFERTA¡</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">!Disfruta Encuentrate A Ti Misma¡</h2>
                    </a>
                    <p class="tm-pt-30">
                        !Ven Aventurate, Encuentra Un Lugar Paradisiaco Relajatey Disfruta.¡
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Inspira, Sueña</span>
                        <span class="tm-color-primary">Marzo 30, 2023</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>96 Comentarios</span>
                        <span>Iliana Gutierrez</span>
                    </div>
                </article>
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3"></span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">↥</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <footer class="row tm-row">
                <hr class="col-12">
            </footer>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
    <div class="Fondo"></div>
</body>
</html>