@model HotelResort.EntidadDeNegocio.TipoCargo

@{
    ViewData["Title"] = "Detalles";
}
<body class="bg-secondary d-flex align-items-center vh-50">
    @*clase para justificar texto y justificar el contenedor*@
    <div class="modal-dialog justify-content-center">
        <div class="col-md-25">
            <div class="modal-content p-sm-5 p-xxl-8 border-info border-3">
                <h1>Detalles del Cargo</h1>
                <div>
                    <hr />
                    <dl class="row">

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cargo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cargo)
                        </dd>

                    </dl>
                </div>
                <div>
                    @Html.ActionLink("Modificar", "Edit", new {  id = Model.Id }, new {@class = "btn btn-outline-primary"}) |
                    <a asp-action="Index" class="btn btn-outline-warning">Regresar a Lista</a>
                </div>
            </div>
        </div>
    </div>
</body>
