@model IEnumerable<HotelResort.EntidadDeNegocio.CatalogoHotel>
<!DOCTYPE html>
<html lang="en">
@{
    List<HotelResort.EntidadDeNegocio.CatalogoHotel> catalogo = ViewBag.CatalogoHotel as List<HotelResort.EntidadDeNegocio.CatalogoHotel>;

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xtra Blog</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/templatemo-xtra-blog.css" rel="stylesheet">
    <link href="~/css/Btn-1.css" rel="stylesheet">
</head>
<body>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">CATALOGO</h1>
                    <p class="text-body">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                </div>
            </div>
        </section>
        @foreach (var item in Model)
        {
            <div class="album py-5 bg-transparent">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-2 justify-content-center">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="card-img-top img-resposive" alt="logo-icon" style="height: 20rem" src="@item.imagen">
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <p class="text-body">Nombre: @Html.DisplayFor(modelItem => item.ClaseHabitacion) </p>
                                        <p class="text-body">ID:@Html.DisplayFor(modelItem => item.Id) </p>
                                    </a>
                                    <br />
                                    <a href="" class="text-reset">
                                        <p class="text-body">Precio: $@Html.DisplayFor(modelItem => item.Precio) </p>
                                    </a>
                                    <a href="" class="text-reset">
                                        <p class="text-body">Numero de Habitacion: # @Html.DisplayFor(modelItem => item.NumHabitacion) </p>
                                    </a>
                                 
                                    <div class="">
                                        <div class="btn-group">
                                            <a href="Cliente/Index" class="btn btn-outline-primary">Reservar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main>
    <footer>
        <div class="Lelo">
            <a href="~/Home/Index" class="btn-neon">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
                REGRESAR
            </a>
        </div>
    </footer>
</body>
</html>
<script>

</script>